:root {
    text-align: center;
    background-color: black;
    font-family: Verdana, sans-serif;
}

h2, h3, p {
    font-family: Verdana, sans-serif;
}

a {
    color: aquamarine;
    font-size: 16px;
}

/* Ensure links are underlined and use the same color for the underline */
a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: aquamarine;
    text-underline-offset: 2px;
}

/* Add a small gap between images; keeps images responsive */
img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 6px 0;
    max-width: 100%;
    height: auto;
}

h2 {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

h3 {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

p {
    color: gray;
    font-size: 21px;
}

footer {
    text-align: right;
    color: gray;
}